apiVersion: 1

deleteDatasources:
  - name: Mimir

datasources:
- name: Mimir
  type: prometheus
  access: proxy
  orgId: 1
  url: http://mimir-gateway.monitoring.svc.cluster.local/prometheus
  basicAuth: false
  isDefault: false
  version: 1
  editable: true
  jsonData:
    # The recommended scrape interval is 60s.
    timeInterval: '60s'
- name: Loki
  type: loki
  access: proxy
  orgId: 1
  url: http://loki-gateway.monitoring.svc.cluster.local
  basicAuth: false
  isDefault: false
  version: 1
  editable: true
  jsonData:
    derivedFields:
      - datasourceUid: tempo
        matcherRegex: '"trace_id":"(\w+)"'
        name: TraceID
        url: $${__value.raw}
- name: Tempo
  type: tempo
  access: proxy
  orgId: 1
  url: http://tempo-gateway.monitoring.svc.cluster.local
  basicAuth: false
  isDefault: false
  version: 1
  editable: true
  apiVersion: 1
  uid: tempo
- name: Pyroscope
  type: pyroscope
  access: proxy
  orgId: 1
  url: http://pyroscope.monitoring.svc.cluster.local:4040
  basicAuth: false
  isDefault: false
  version: 1
  editable: true