# yaml-language-server: $schema=https://raw.githubusercontent.com/grafana/k8s-monitoring-helm/refs/heads/main/charts/k8s-monitoring/values.schema.json
# github: https://github.com/grafana/k8s-monitoring-helm
---
cluster:
  name: minikube-monitoring

destinations:
  - name: mimir
    type: prometheus
    url: http://mimir.monitoring.svc.cluster.local:9009/api/v1/push

  - name: loki
    type: loki
    url: http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push

  - name: tempo
    type: otlp
    protocol: http
    url: http://tempo.monitoring.svc.cluster.local:4318
    metrics: {enabled: false}
    logs: {enabled: false}
  
  - name: pyroscope
    type: pyroscope
    url: http://pyroscope.monitoring.svc.cluster.local:4040

clusterMetrics:
  enabled: true
  kube-state-metrics: # dashboard: https://grafana.com/grafana/dashboards/21742-object-s-health-kube-state-metrics-v2/
    enabled: true
    podAnnotations: 
      k8s.grafana.com/scrape: "true"
      k8s.grafana.com/instance: "kube-state-metrics"
      k8s.grafana.com/portName: "http"
  node-exporter: # dashboard: https://grafana.com/grafana/dashboards/1860-node-exporter-full/
    enabled: true
    podAnnotations: 
      k8s.grafana.com/scrape: "true"
      k8s.grafana.com/instance: "node-exporter"
      k8s.grafana.com/portName: "metrics"
  windows-exporter:
    enabled: false
    deploy: false

clusterEvents:
  enabled: false

nodeLogs:
  enabled: false

podLogs:
  enabled: true
  # namespaces:
  #   - prod

applicationObservability:
  enabled: true
  connectors:
    grafanaCloudMetrics:
      enabled: false
  receivers:
    otlp:
      grpc:
        enabled: true
        port: 4317
      http:
        enabled: true
        port: 4318

prometheusOperatorObjects:
  enabled: false
  crds:
    deploy: true
  serviceMonitors:
    enabled: true
    namespaces:
      - prod

annotationAutodiscovery:
  enabled: true
  namespaces:
    - prod
    - monitoring

alloy-metrics:
  enabled: true
  alloy:
    extraArgs:
      - --disable-reporting

alloy-singleton:
  enabled: false
  alloy:
    extraArgs:
      - --disable-reporting
    extraPorts:
      - name: otlp-grpc
        port: 4317
        targetPort: 4317
        protocol: TCP
      - name: otlp-http
        port: 4318
        targetPort: 4318
        protocol: TCP

alloy-logs:
  enabled: true
  liveDebugging: 
    enabled: true
  alloy:
    extraArgs:
      - --disable-reporting

alloy-receiver:
  enabled: true
  alloy:
    extraArgs:
      - --disable-reporting
    extraPorts:
      - name: otlp-grpc
        port: 4317
        targetPort: 4317
        protocol: TCP
      - name: otlp-http
        port: 4318
        targetPort: 4318
        protocol: TCP

profiling:
  enabled: true
  # ebpf:
  #   enabled: false
  # java:
  #   enabled: false
  # pprof:
  #   enabled: true
  #   labelSelectors:
  #     app: dice-server
  #   namespaces:
  #     - prod

alloy-profiles:
  enabled: true
  alloy:
    extraArgs:
      - --disable-reporting
